<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Søknad om omsorgspenger midlertidig alene</title>
    <meta name="subject" content="Søknad om omsorgspenger midlertidig alene" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Søknad om omsorgspenger midlertidig alene {{søknadMottattDag}} {{ søknadMottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
    <h1 id="header">Søknad om omsorgspenger midlertidig alene</h1>
    <p class="nokkelinfo">
        <strong>Sendt til NAV</strong>
        {{søknadMottattDag}} {{ søknadMottatt }}
    </p>
    <div class="innholdscontainer">
        <div class="person" id="søker">
            <p class="navn">{{ søker.navn }}</p>
            <p>{{ søker.fødselsnummer }}</p>
            <br />
        </div>

        <!-- SAMTYKKE -->
        <section id="samtykke">
            <h2>Samtykke</h2>
            <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
            <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
            <hr />
            <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
            <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
        </section>

    </div>


    <!-- FOOTER -->
    <p id="footer">
        <span class="soknadsid">{{ søknadId }}</span>
        <span>K9:{{id}}</span>
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </p>
</body>

</html>

