<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Søknad om omsorgspenger midlertidig alene</title>
    <meta name="subject" content="Søknad om omsorgspenger midlertidig alene" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Søknad om omsorgspenger midlertidig alene {{søknadMottattDag}} {{ søknadMottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Din situasjon" href="#din_situasjon" />
        <bookmark name="Den andre forelderen" href="#andre_forelderen" />
        <bookmark name="Medlemskap" href="#medlemskap" />
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
    <h1 id="header">Søknad om omsorgspenger regnet som midlertidig alene</h1>
    <p class="nokkelinfo">
        <strong>Sendt til NAV</strong>
        {{søknadMottattDag}} {{ søknadMottatt }}
    </p>
    <div class="innholdscontainer">

        <div class="person" id="søker">
            <p class="navn">{{ søker.navn }}</p>
            <p>{{ søker.fødselsnummer }}</p>
            <br />
        </div>

        <section id="din_situasjon">
            <h2>Din situasjon</h2>
            <p class="sporsmalstekst">Hva er din arbeidssituasjon?</p>
            <ul>
                {{# each arbeidssituasjon as |situasjon|~}}
                    <li>{{situasjon.utskriftvennlig}}</li>
                {{/each}}
            </ul>
            <p class="sporsmalstekst">Hvor mange felles barn har dere? Inkludert eventuelle fosterbarn</p>
            <p> {{antallBarn}}</p>
            <p class="sporsmalstekst">Hva er alderen på alle barna?</p>
            <p> {{alderAvAlleBarn.alder}}</p>
            <ul>
                {{# each alderAvAlleBarn as |barn|~}}
                    <li>{{barn.alder}}</li>
                {{/each}}
            </ul>
        </section>

        <!-- ANDRE_FORELDER -->
        <section id="andre_forelderen">
            <h2>Den andre forelderen</h2>
            <p class="sporsmalstekst">Hva er navnet til den andre forelderen?</p>
            <p>{{andreForelder.navn}}</p>
            <p class="sporsmalstekst">Hva er fødselsnummeret til den andre forelderen?</p>
            <p>{{andreForelder.fnr}}</p>
            <p class="sporsmalstekst">Hva er situasjonen til den andre forelderen?</p>
            <p>{{andreForelder.situasjon}}</p>
            <p class="sporsmalstekst">Beskrivelse av situasjonen:</p>
            <p class="fritekst">{{andreForelder.beskrivelse}}</p>
            <p class="sporsmalstekst">Perioden fra og med?</p>
            <p>{{andreForelder.periodeFraOgMed}}</p>
            <p class="sporsmalstekst">Perioden til og med?</p>
            <p>{{andreForelder.periodeTilOgMed}}</p>
            <p class="sporsmalstekst">Er perioden over 6 måneder?</p>
            <p>{{ jaNeiSvar andreForelder.periodeOver6Måneder}}</p>
        </section>

        <!-- Medlemskap -->
        <section id="medlemskap">
            <h2>Medlemskap</h2>
            <p class="sporsmalstekst">Har du bodd i utlandet de siste 12 månedene?</p>
            <p>{{ jaNeiSvar medlemskap.harBoddIUtlandetSiste12Mnd}}</p>
            {{#if medlemskap.harBoddIUtlandetSiste12Mnd}}
            <p class="sporsmalstekst">Utenlandsopphold de siste 12 måneder: </p>
                <ul>
                    {{# each medlemskap.utenlandsoppholdSiste12Mnd as |utenlandsopphold|~}}
                        <li>
                            <p>Landnavn: {{utenlandsopphold.landnavn}}</p>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
            <p>{{ jaNeiSvar medlemskap.skalBoIUtlandetNeste12Mnd}}</p>
            {{#if medlemskap.skalBoIUtlandetNeste12Mnd}}
                <p class="sporsmalstekst">Utenlandsopphold de neste 12 måneder: </p>
                <ul>
                    {{# each medlemskap.utenlandsoppholdNeste12Mnd as |utenlandsopphold|~}}
                        <li>
                            <p>Landnavn: {{utenlandsopphold.landnavn}}</p>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </section>

        <!-- SAMTYKKE -->
        <section id="samtykke">
            <h2>Samtykke</h2>
            <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
            <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
            <hr />
            <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
            <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
        </section>

    </div>

    <!-- FOOTER -->
    <p id="footer">
        <span class="soknadsid">{{ søknadId }}</span>
        <span>K9:{{id}}</span>
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </p>
</body>

</html>

